@model FPT_Training.Models.Trainee
@{
    ViewBag.Title = "Update Trainee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>
@using (Html.BeginForm("UpdateTrainee", "Staff", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Education)
        @Html.TextBoxFor(m => m.Education, "", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Edit a Trainee User</button>
}