@model IEnumerable<FPT_Training.Models.Course>
@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<!-- Load icon library Search -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form Search -->
<div class="form-group">
	@using (Html.BeginForm("Index", "Course", FormMethod.Get))
	{
<input type="text" placeholder="Search Course such as Course Name and category" name="search">
				<button type="submit"><i class="fa fa-search"></i></button>}
</div>


<div class="form-group">
	@Html.ActionLink("Create Course", "CreateCourse", "Course", new { @class = "btn btn-primary" })
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Categories</th>
			<th scope="col">Manage Course</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (item.CourseName != "Not Exist")
			{
<tr>
	<td>@item.CourseName</td>
	<td>@item.Description</td>
	<td>@item.Category.Name</td>
	<td>
		@Html.ActionLink("Update Course", "UpdateCourse", "Course", new { id = item.Id }, new { @class = "btn btn-info" })
		@Html.ActionLink("Delete Course", "DeleteCourse", "Course", new { @CourseId = item.Id }, new { @class = "btn btn-danger" })
	</td>
</tr>}
			}

	</tbody>
</table>